@import '../../GlobalStyle/GlobalStyle.scss';

.who-we {
  display: flex;
  justify-content: space-between;
  max-width: 1130px;
  margin: 120px auto;
  font-family: $font-pop;
  .who-we-image {
    position: relative;
    padding-right: 50px;
    .dot-5 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .image-rect {
      padding: 50px;
    }
    .image-final {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
  .who-we-text {
    margin: 50px 0 50px 50px;
    h3 {
      color: $color-orange;
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.21em;
    }
    h1 {
      margin: 20px 0;
      font-size: 46px;
      font-weight: 600;
      line-height: 67px;
      letter-spacing: 0em;
      color: $color-purple;
    }
    h4 {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      margin: 0;
      color: $color-gray;
      padding-bottom: 30px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        font-size: 18px;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: 0em;
        color: $color-grey;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .who-we {
    flex-direction: column;
    margin: 70px 0;
    .who-we-image {
      margin: 0 auto;
    }
    .who-we-text {
      margin: 0 auto;
      padding: 50px;
    }
  }
}

@media (max-width: 640px) {
  .who-we {
    flex-direction: column;
    margin: 40px auto;
    .dot-5 {
      display: none;
    }
    .who-we-image {
      padding: 20px;
      .image-rect {
        padding: 0;
        width: 100%;
      }
      .image-final {
        bottom: 0;
        right: 0;
      }
    }
    .who-we-text {
      margin: 0 auto;
      padding: 20px;
      h1 {
        font-size: 35px;
        line-height: 50px;
      }
      h4 {
        font-size: 11px;
      }
      ul {
        li {
          font-size: 15px;
        }
      }
    }
  }
}
