@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@100;400;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Poppins:wght@100;400;500;600;700&display=swap');

// Colors

$color-black: black;
$color-white: white;
$color-orange: #f54c1e;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-purple: #031333;
$color-blue: #071440;
$color-gray: #818181;
$bg-linear: linear-gradient(0.53deg, #fd5c30 0.53%, rgba(0, 0, 0, 0) 101.68%);
$bg-blue: #031333b2;
$color-sub: #f3f3f3;
$color-greyish: #949494;
$color-content: rgba(222, 220, 220, 0.85);
$color-job-text: #676972;
$color-grey: #989898;
$color-red: red;

// Fonts

$font-inter: 'Inter', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-pop: 'Poppins', sans-serif;
$font-nunito: 'Nunito Sans', sans-serif;
